#register-container {
	margin-top: 5%;
	margin-bottom: 10%;
}

.card {
  padding: 5%;
}

html, body, #root {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-image: url('../../images/background4.jpg');
}

#app {
  height: 100%;
  
}


